@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #ffe000;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 56 50% 15%;
    --muted-foreground: 56 10% 55%;

    --popover: 56 45% 6.5%;
    --popover-foreground: 56 10% 97.5%;

    --card: 56 45% 6.5%;
    --card-foreground: 56 10% 97.5%;

    --border: 56 50% 15%;
    --input: 0 0% 86.7%;

    --primary: 56 100% 50%;
    --primary-foreground: 56 10% 5%;

    --secondary: 56 50% 15%;
    --secondary-foreground: 56 10% 97.5%;

    --accent: 56 50% 15%;
    --accent-foreground: 56 10% 97.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 56 10% 97.5%;

    --ring: 56 100% 50%;
  }

  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #ffe000;

    --background: 0 0% 9.8%;
    --foreground: 210 40% 98%;

    --muted: 56 50% 15%;
    --muted-foreground: 56 10% 55%;

    --popover: 56 45% 6.5%;
    --popover-foreground: 56 10% 97.5%;

    --card: 56 45% 6.5%;
    --card-foreground: 56 10% 97.5%;

    --border: 56 50% 15%;
    --input: 0 0% 86.7%;

    --primary: 56 100% 50%;
    --primary-foreground: 56 10% 5%;

    --secondary: 56 50% 15%;
    --secondary-foreground: 56 10% 97.5%;

    --accent: 56 50% 15%;
    --accent-foreground: 56 10% 97.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 56 10% 97.5%;

    --ring: 56 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto p-5 md:px-10 xl:px-0 w-full;
  }
  .input-field {
    @apply shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-inner  focus-visible:ring-offset-0 focus-visible:ring-transparent !important;
  }
  .text-field {
    @apply shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-inner  focus-visible:ring-offset-0 focus-visible:ring-transparent !important;

  }
}
